{% extends "base.html" %}

{% block title %}
    {{ _("Guides") }}
{% endblock %}

{% block content %}
    <main>
        <h1>{{ _("Practical Cybersecurity Guides") }}</h1>

        <div class="card-container">
            <a href="{{ url_for('secure_mobile', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("Secure Mobile Devices") }}</h2>
                    <p>{{ _("Follow step-by-step instructions to secure your mobile devices using strong passwords, app permissions, and encryption.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('use_encryption', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("Encryption") }}</h2>
                    <p>{{ _("Learn how to enable encryption on your devices and protect sensitive files and communications.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('secure_passwords', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("Secure Passwords") }}</h2>
                    <p>{{ _("Get practical tips for creating strong passwords and managing them with password managers.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('use_two_factor', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("2FA Authentication") }}</h2>
                    <p>{{ _("Set up two-factor authentication on your accounts to add an extra layer of security.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('spot_phishing', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("Phishing Attacks") }}</h2>
                    <p>{{ _("Learn how to recognize phishing emails and avoid falling victim to scams.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('how_to_update_software', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("Software Updates") }}</h2>
                    <p>{{ _("Follow best practices for keeping your software and operating systems up to date.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('prevent_theft', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("Identity Theft") }}</h2>
                    <p>{{ _("Take actionable steps to protect your personal information and prevent identity theft.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('malware_protection', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("Malware Protection") }}</h2>
                    <p>{{ _("Learn how to install and use antivirus software to protect your devices from malware.") }}</p>
                </div>
            </a>
            <a href="{{ url_for('use_vpn', lang=g.lang) }}" class="card">
                <div class="card-content">
                    <h2>{{ _("VPN") }}</h2>
                    <p>{{ _("Set up and use a VPN to secure your internet connection and protect your privacy.") }}</p>
                </div>
            </a>
        </div>
        <div class="pagination">
            <a href="">&laquo;</a>
            <a href="" class="active">1</a>
            <a href="">&raquo;</a>
        </div>
        
    </main>
{% endblock %}
