{% extends "base.html" %}

{% block title %}
    Home - Cybersecurity Resource Hub
{% endblock %}

{% block content %}
    <main>
        <h1>Welcome to the Cybersecurity Resource Hub</h1>
        <p>Your go-to source for online safety and cybersecurity information with a primary focus on mobile phones.</p>
        <!-- Add more content here -->
    
        <h2>What is Cyber Security?</h2>
        <p>Cyber security is the state or process of protecting and recovering networks, devices and programs from any type of cyberattack.</p>
    </main>
{% endblock %}
