{% extends "base.html" %}

{% block title %}
    {{ _("Learn") }}
{% endblock %}

{% block content %}
    <main>
        <h1>{{ _("Learn about Cybersecurity Concepts") }}</h1>

        <div class="card-container">
            <div class="card">
                <a href="{{ url_for('mobile_security', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("Mobile Security") }}</h2>
                        <p>{{ _("Learn how to protect your mobile devices from threats.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('mobile_security_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('encryption', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("Encryption") }}</h2>
                        <p>{{ _("Understand how encryption safeguards sensitive information.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('encryption_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('password_security', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("Password Security") }}</h2>
                        <p>{{ _("Discover techniques for creating strong, secure passwords.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('password_security_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('two_factor_authentication', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("2FA Authentication") }}</h2>
                        <p>{{ _("Learn about two-factor authentication and its benefits.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('two_factor_authentication_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('phishing', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("Phishing Attacks") }}</h2>
                        <p>{{ _("Identify and avoid common phishing attacks.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('phishing_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('software_updates', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("Software Updates") }}</h2>
                        <p>{{ _("Why keeping your software updated is critical.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('software_updates_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('identity_theft', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("Identity Theft") }}</h2>
                        <p>{{ _("Understand how to protect yourself from identity theft.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('identity_theft_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('malware', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("Malware") }}</h2>
                        <p>{{ _("Learn about malware and how to prevent infections.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('malware_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>

            <div class="card">
                <a href="{{ url_for('vpn', lang=g.lang) }}">
                    <div class="card-content">
                        <h2>{{ _("VPN") }}</h2>
                        <p>{{ _("Discover the benefits of using a virtual private network.") }}</p>
                    </div>
                </a>
                <a href="{{ url_for('vpn_quiz', lang=g.lang) }}" class="test-btn">{{ _("Test Yourself!") }}</a>
            </div>
        </div>

        <div class="pagination">
            <a href="">&laquo;</a>
            <a href="" class="active">1</a>
            <a href="">&raquo;</a>
        </div>
    </main>
{% endblock %}
