{% extends "base.html" %}

{% block title %}
    {{ _("Tools") }}
{% endblock %}

{% block content %}
<main>

    <!-- Best Antivirus Software for iPhones -->
    <h1>{{ _("Best Antivirus Software for iPhones") }}</h1>
    <p>
        <i>{{ _("For more details, visit") }}
            <a href="https://cybernews.com/best-antivirus-software/antivirus-for-iphone/" target="_blank">{{ _("Best Antivirus for iPhones") }}</a>
        </i>
    </p>

    <!-- Card Container -->
    <div class="card-container">
        <ol>
            <li>
                <a href="https://www.totalav.com/ultra-deal" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("TotalAV Mobile Security") }}</h2>
                        <p>{{ _("Best antivirus app for iPhone") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://uk.norton.com/products/norton-360-deluxe?SID=375341ad327c492a9a3215cf47e76fa9622f&cjid=100242223&clickid=29d24d65cd4911ef838545e40a18b8f6&af_sub4=aff&af_sub5=CJ&c=CJ&cjevent=29d24d65cd4911ef838545e40a18b8f6" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("Norton Mobile Security for iOS") }}</h2>
                        <p>{{ _("User-friendly iPhone antivirus") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.avira.com/en/campaigns/affiliates/promo-offers-3prod_40?cjdata=MXxZfDB8WXww&cjevent=6eebb2c3cd4511ef817fc50b0a18ba74&x-clickref=6eebb2c3cd4511ef817fc50b0a18ba74&x-c-channel=affiliate_CJ&x-a-medium=affiliate&utm_source=CJ_100242223&utm_medium=affiliate&utm_content=15569194&utm_term=CJ_100242223&x-utm_term=CJ_100242223&clickid=6eebb2c3cd4511ef817fc50b0a18ba74&cjid=100242223" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("Avira") }}</h2>
                        <p>{{ _("Lightweight antivirus for iPhone with a free plan") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.bitdefender.com/en-us/consumer/mobile-security-ios?irclickid=UyWwvZQd1xyKWcR2XExLGQxxUks0XdUhE3Tezo0&irgwc=1&MPid=3256132&cid=aff%7Cc%7CIR%7CAdtech%20lt" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("Bitdefender") }}</h2>
                        <p>{{ _("All-around antivirus for iOS") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.avg.com/en-gb/affiliate-homepage-20?partnerid=100242223&utm_campaign=100242223&cjid=100242223&utm_source=commissionjunction&utm_medium=affiliate&cjevent=7ebab8fecd4511ef8371349f0a18b8fc&utm_content=11609239&programtype=CJ&clickID=7ebab8fecd4511ef8371349f0a18b8fc&couponfield=yes&trafficSource=affiliate#mac" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("AVG") }}</h2>
                        <p>{{ _("Antivirus for iPhone with exceptional malware detection power") }}</p>
                    </div>
                </a>
            </li>
        </ol>
    </div>

    <br>
    <!-- Best Antivirus Software for Android -->
    <h1>{{ _("Best Antivirus Software for Android") }}</h1>
    <p>
        <i>{{ _("For more details, visit") }}
            <a href="https://www.tomsguide.com/best-picks/best-android-antivirus" target="_blank">{{ _("Best Antivirus for Android") }}</a>
        </i>
    </p>

    <!-- Card Container -->
    <div class="card-container">
        <ol>
            <li>
                <a href="https://bitdefender.evyy.net/c/221109/278689/4466?subId1=tomsguide-gb-1133203414372222160&u=https%3A%2F%2Fwww.bitdefender.co.uk%2Fsolutions%2Fmobile-security-android.html" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("Bitdefender Mobile Security") }}</h2>
                        <p>{{ _("Best antivirus app for Android") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.avast.com/en-us/free-mobile-security?utm_medium=affiliate&utm_source=commissionjunction&utm_campaign=8900245&utm_content=15505275&couponfield=yes&cjevent=9cc3f219a7acac3de27823d22903c8f9a705f8ebca790b983&trafficSource=affiliate&partnerid=8900245&programtype=CJ&clickID=b9ef372ccd4811ef819500050a18b8f7&cjid=8900245#mac" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("Avast Mobile Security") }}</h2>
                        <p>{{ _("Great free Android antivirus app with low system overhead") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://uk.norton.com/products/mobile-security-for-ios?SID=tomsguide-gb-5570305747874285465&API1=100&API2=8900245&cjid=8900245&cjevent=ba3e8730cd4811ef82e800030a18b8fb" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("Norton 360 for Mobile") }}</h2>
                        <p>{{ _("Comprehensive protection") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.mcafee.com/en-us/antivirus/mobile.html?irclickid=UyWwvZQd1xyKWcR2XExLGQxxUks0X71pE3Tezo0&clickid=UyWwvZQd1xyKWcR2XExLGQxxUks0X71pE3Tezo0&csrc=LQ&csrcl2=221109&sharedid=hawk&adid=1938359&ccstype=partnerlinks&ccoe=direct&ccoel2=am&affid=1079&param3=&param2=&param1=&param4=" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("McAfee Mobile Security") }}</h2>
                        <p>{{ _("Mini security suite with a clean interface") }}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://mrkeyshop.com/en/eset/75-buy-eset-mobile-security-for-android?SubmitCurrency=1&id_currency=3" class="card" target="_blank">
                    <div class="card-content">
                        <h2>{{ _("ESET Mobile Security") }}</h2>
                        <p>{{ _("Quick and easy scans with slight performance hit") }}</p>
                    </div>
                </a>
            </li>
        </ol>
    </div>

</main>
{% endblock %}
