{% extends "base.html" %}

{% block title %}
    tools 
{% endblock %}

{% block content %}
    <main>
        <h1>A list of free tools and antivirus softwares</h1>        
        <!-- Add more content here -->
        <h2>Best Antivirus Softwares for iPhones</h2>
        <ol>
            <li>TotalAV Mobile Security – best antivirus app for iPhone</li>
            <li>Norton Mobile Security for iOS – user-friendly iPhone antivirus</li>
            <li>Avira – lightweight antivirus for iPhone with a free plan</li>
            <li>Bitdefender – all-around antivirus for iOS</li>
            <li>AVG – antivirus for iPhone with exceptional malware detection power</li>
        </ol>
        <p><i>For more detailed information of these softwares, head to <a href = "https://cybernews.com/best-antivirus-software/antivirus-for-iphone/">Best Antivirus for iPhones</a></i></i></p>

        <h2>Best Antivirus Softwares for Android</h2>
        <ol>
            <li>Bitdefender Mobile Security - the best antivirus app for Android</li>
            <li>Avast Mobile Security - A great free (and paid) Android antivirus app with low system overhead</li>
            <li>Norton 360 for Mobile - Comprehensive protection</li>
            <li>McAfee Mobile Security - A mini security suite with a very clean interface</li>
            <li>ESET Mobile Security - Quick and easy scans but with a slight performance hit</li>
        </ol>
        <p><i>For more detailed information of these softwares, head to <a href="https://www.tomsguide.com/best-picks/best-android-antivirus">Best Antivirus for Android</a></i></p>

    </main>
{% endblock %}
