{% extends "base.html" %}

{% block title %}
    GUIDE on How To Update Softwares
{% endblock %}

{% block content %}
    <main>
        <h1>Software Updates</h1>
        </br>
        <!-- Add more content here -->

        <h2>Update software and apps</h2>
        <p>{{ _('How you update software depends on the devices and operating systems you’re using. You can update your software quickly by following the steps we’ve provided for the various platforms below.') }}</p>

        <h3>Updating software and apps on iOS devices</h3>
        <p>{{ _('If you have an iPhone, iPad, Apple Watch, or another device running iOS, your software and applications will be updated in the Apple App Store. You’ll see a red circle with a number in the top right corner of the App Store icon if any of your apps have an important update available.') }}</p>
        <p>{{ _('Then, simply:') }}</p>
        <ol>
            <li>{{ _('Click on the App Store icon.') }}</li>
            <li>{{ _('Click the Update button next to individual apps to begin the process, or click the Install All Updates button to do them all at once.') }}</li>
        </ol>

        <h3>Updating software and apps on Android devices</h3>
        <p>{{ _('When using Android, you‘ll update most of your applications in the Google Play Store. You can also turn on automatic updates to make sure you’re doing everything possible to protect your Android device.') }}</p>
        <p>{{ _('But to implement updates manually:') }}</p>
        <ol>
            <li>{{ _('Open the Google Play Store app.') }}</li>
            <li>{{ _('Tap the profile icon in the top right.') }}</li>
            <li>{{ _('Tap Manage apps & devices to view apps that have updates available.') }}</li>
            <li>{{ _('Tap Update to start the update.') }}</li>
        </ol>

        <h2>How to update operating systems</h2>
        <p>{{ _('How you update your operating system also depends on the device you’re using. To make sure you’re running the latest version of your operating system, follow the steps for the different platforms provided below.') }}</p>

        <h3>Update iOS devices</h3>
        <p>{{ _('When using an iOS device, you’ll access your operating system updates through the System Settings. You’ll see a red circle with a number in the top right corner of the System Settings icon if an iOS update is ready to be installed.') }}</p>
        <p>{{ _('To get the new version:') }}</p>
        <ol>
            <li>{{ _('Open Settings.') }}</li>
            <li>{{ _('Tap General.') }}</li>
            <li>{{ _('Tap Software Update.') }}</li>
            <li>{{ _('Tap the Update Now or Download and Install to install the newest version of Mac iOS.') }}</li>
        </ol>
        <p><b>{{ _('Note:') }}</b> {{ _('Apple recommends backing up your device before installing an iOS update.') }}</p>

        <!-- insert image of steps for ios here -->
        <img src="/static/images/content/{{ g.lang }}/guides/update-ios.jpg" alt="{{ _('How to Update iOS') }}">
        <h3>How to update operating systems on Android devices</h3>
        <p>{{ _('When using an Android phone or tablet, you’ll find operating system updates in Settings.') }}</p>
        <p>{{ _('To check for, and install, available updates:') }}</p>
        <ol>
            <li>{{ _('Open Settings.') }}</li>
            <li>{{ _('Tap About phone.') }}</li>
            <li>{{ _('Tap Software update or Check now for updates.') }}</li>
            <li>{{ _('Tap Download and install or choose one of the other options to install the OS update later.') }}</li>
        </ol>
        
        <!-- insert image of steps for android here -->
        <img src="/static/images/content/{{ g.lang }}/guides/update-android.jpg" alt="{{ _('How to Update Android') }}">

        <h2>How to keep software and operating systems updated</h2>
        <p>{{ _('For most modern devices, it’s easy to keep your apps or OS updated. Let’s look at two of the best ways to stay as up to date as possible:') }}</p>
        <ul>
            <li>{{ _('Look for notifications: The Apple App Store, the Google Play Store, Android and iOS devices, and Windows and Mac OS computers will tell you when an update is ready for installation. You might receive a push notification, see a flag or bubble on the store or settings icon, or may need to go into the update menu directly.') }}</li>
            <li>{{ _('Turn on automatic updates: Almost every device will let you turn on automatic updates for apps and operating systems. This process can vary depending on your device, but a good place to look for these settings is in the device settings section or store settings.') }}</li>
        </ul>

        <h2>FAQs about software updates</h2>
        <p>{{ _('Have more questions about computer updates? We have answers.') }}</p>

        <h3>What happens if I don’t update my software?</h3>
        <p>{{ _('If you don’t update your software, you’re at greater risk of system problems, hackers, malware, and compatibility issues. Older versions are usually less efficient, meaning your computer runs slower and may struggle to multitask or handle RAM-heavy tasks like audio or video editing.') }}</p>

        <h3>Are there any risks to updating software?</h3>
        <p>{{ _('There are some risks to updating software and operating systems. Any new version of an app or OS is almost certain to contain some security vulnerabilities. And if you have an older device, newer software might malfunction due to new hardware requirements. Even with those potential risks, the security and performance benefits of updated software far outweigh the downsides.') }}</p>

        <h3>How do I know if my software is up to date?</h3>
        <p>{{ _('The easiest way to check if your software is up to date is to see if updates are available wherever you normally update your software. This usually means checking for Apple App Store or Google Play store updates. You can also usually find any available updates via your system settings.') }}</p>

        <h3>What is the risk of running outdated software?</h3>
        <p>{{ _('If you run outdated software, the known vulnerabilities in older versions of apps and operating systems mean you’re at a higher risk of being hacked. Additionally, your phone could run hotter, your device might fall prey to malware, and your computer may not run as smoothly as it could.') }}</p>
    </main>
{% endblock %}
