{% extends "base.html" %}

{% block title %}
    GUIDE on How to Prevent Identity Theft 
{% endblock %}

{% block content %}
    <main>
        <h1>Identity Theft</h1>  
        </br>      
        <!-- Add more content here -->

        <h2>Warning signs of identity theft</h2>
        <p>ID theft warning signs can include:</p>
            <ul>
            <li><b>Unexplained financial activity: </b>Charges, accounts, or withdrawals on your bank statements or credit card reports that you don't recognize.</li>
            <li><b>Unexpected calls from debt collectors: </b>Phone calls from collection agencies about debts you aren’t aware of.</li>
            <li><b>Missing mail or bills:</b> Important documents you were expecting never arrived, especially those containing financial information.</li>
            <li><b>Errors on credit reports: </b>Inaccuracies on your credit report, such as accounts you haven't opened, inquiries you didn't initiate, or incorrect personal information.</li>
            </ul>
        <!-- insert image of 4 typical signs -->
        <img src="/static/images/content/guides/signs-identity-theft.jpg" alt="Warning Signs of Identity Theft">

        <p>These are four common red flags of identity theft to look out for. And now that you know what identity theft may look like, here are the steps to take if you know or suspect you’re a victim.</p>

        <h2>What to do if you're a victim of identity theft</h2>
        <p>If you’re a victim of ID theft, you need to mitigate damage quickly. Here are the immediate steps you should take to report identity theft.</p>
        <!-- insert image of id theft -->
        <img src="/static/images/content/guides/victim-of-theft.jpg" alt="If you are a victim of Identity Theft">

            <ul>
            <li><b>Contact financial institutions and companies where the fraud occurred: </b>Alert your bank, credit card companies, and other financial institutions about the identity theft. Also, contact the companies where the fraud occurred.</li>
            <li><b>Freeze credit reports: </b>Contact the three major credit bureaus (Equifax®, Experian®, and TransUnion®) to freeze your credit report. This can help prevent criminals from opening new lines of credit in your name. You can also place a fraud alert on your report by contacting any of the major bureaus who must then alert the others.</li>
            <li><b>File a report with law enforcement: </b>Report the identity theft to the FTC at IdentityTheft.gov to get your personal recovery plan or file a police report. You will need proof of one of these if you want to go on to place an extended fraud alert, which lasts seven years.</li>
            </ul>

        <h2>Ways to protect your identity</h2>
        <p>There are several ways that you can help protect your identity from would-be thieves. ​​Here are the key strategies for safeguarding your personal information and helping protect against identity fraud occurring in the first place:</p>
            <ul>
            <li><b>Strengthen passwords and PINs: </b>Use complex and unique passwords for all your online accounts. Avoid using obvious information like birthdays or pet names. Consider a password manager to help you create and manage strong passwords. Turn on two-factor authentication or multi-factor authentication wherever possible.</li>
            <li><b>Be cautious with personal information online: </b>Don't share sensitive information like credit card details on unsecured websites or in response to unsolicited emails or messages. And think before sharing anything on social media or online, as even seemingly innocent info like your place of birth can be used by identity thieves.</li>
            <li><b>Monitor financial accounts regularly:</b> Regularly review your bank statements and credit card reports for any unauthorized activity. Catching fraudulent charges early can minimize the damage. You can also use a service like Norton™ 360 with LifeLock™ Select to help monitor your credit.</li>
            <li><b>Shred sensitive documents: </b>Before discarding documents containing personal information like bank statements or credit card offers, shred them thoroughly and dispose of them in separate loads. This makes it much harder for criminals to steal your information from the trash.</li>
            <li><b>Secure personal devices and networks:</b> Use a strong password on your home network and keep your devices' software updated so they have the latest security patches. Be cautious when using public Wi-Fi networks and avoid accessing or sending sensitive information on unsecured connections.</li>
            <li><b>Be skeptical of unsolicited communications: </b>Be wary of emails, texts, or phone calls you’re not expecting that request personal information. Don't click suspicious links or attachments, and if you’re unsure about a communication's legitimacy contact the sender directly through a verified channel.</li>
            </ul>
        <p>By following these steps and staying vigilant, you can reduce your risk of identity theft and help protect your personal information.</p>

        <h2>FAQs about identity theft</h2>
        <p>Still have questions about identity theft? We’ve got you covered.</p>

        <h3>What should I do if I suspect I'm a victim of identity theft?</h3>
        <p>If you suspect that somebody stole your identity, alert your bank and credit card companies immediately. You should also place a fraud alert or credit freeze on your credit report and notify the authorities that you think your identity has been compromised.</p>

        <h3>What do you do if someone has stolen your identity?</h3>
        <p>Contact the company where you know the fraud took place and speak to the fraud department. Ask them to freeze your account or implement their fraud procedures. Then place a fraud alert or credit freeze on your credit report and file a report at IdentityTheft.gov and with your local law enforcement office. If the theft warrants it, consider contacting the IRS as well as your insurance and medical care providers.</p>

        <h3>Can children be victims of identity theft?</h3>
        <p>Yes, child identity theft exists. If an ID thief knows your child’s Social Security number, they might use it to open new credit accounts or take out bank loans—and hurt your child’s credit score in the process.</p>

        <h3>Is identity theft punishable by law?</h3>
        <p>Absolutely, identity theft is a serious crime with significant consequences for the perpetrators. The penalties for identity theft vary depending on the severity of the crime and the state where it occurs.</p>


    </main>
{% endblock %}
