{% extends "base.html" %}

{% block title %}
    {{ _('GUIDE on keeping your mobile secure') }}
{% endblock %}

{% block content %}
    <main>
        <h1>{{ _('Mobile Security') }}</h1>  
        </br>      
        <!-- Add more content here -->
        <h2>{{ _('How to secure mobile devices') }}</h2>
        <p>{{ _('Just as there are many different kinds of threats, there are many ways to reduce the likelihood of your device being impacted by one of them. With a few small changes, you can better secure your digital life and help keep different types of hackers and malware at bay.') }}</p>

        <h3>{{ _('Enable screen locks and biometrics for better in-person security') }}</h3>
        <p>{{ _('Built-in security features should be your first line of defense against physical device tampering and theft. Choose as difficult a passcode as you can easily remember, and don’t reuse any of your codes. Biometrics, like FaceID or fingerprint scanners, create an extra layer of security that is more difficult to hack than a password.') }}</p>

        <h3>{{ _('Keep your devices and apps up to date to limit vulnerabilities') }}</h3>
        <p>{{ _('An updated device is more secure than one running an older operating system or application. Turn on automatic updates to minimize the time your phone is vulnerable to known threats.') }}</p>

        <h3>{{ _('Use secure networks and VPNs for safer browsing, shopping, and downloading') }}</h3>
        <p>{{ _('A VPN creates an encrypted path for you to use the internet by anonymizing your device and masking your IP address. Always protect your browsing when on public Wi-Fi by using a VPN.') }}</p>

        <h3>{{ _('Back up and encrypt data to protect your personal information') }}</h3>
        <p>{{ _('Backing up an encrypted copy of your data protects you in the event of malware disabling your mobile device. Encrypted cloud backups mean you can access your data anywhere and be nearly as safe as with encrypted physical backups.') }}</p>

        <h3>{{ _('Employ strong, unique passwords and 2FA to keep your accounts safer') }}</h3>
        <p>{{ _('Using a password manager will make securely storing and accessing passwords simple. Follow good password security practices by choosing unique passwords that you don’t reuse. Turn on two-factor authentication to put another roadblock between hackers and your personal information.') }}</p>

        <h3>{{ _('Use mobile security software for faster, more efficient mobile security') }}</h3>
        <p>{{ _('Mobile security software like Norton Mobile Security for Android and iOS devices combines many of these security features into an easy-to-use package. It scans your messages for phishing attempts, warns you when suspicious networks are nearby, and protects your devices from malware.') }}</p>

        <!-- insert image of 6 tips to secure mobile device -->
        <img src="/static/images/content/{{ g.lang }}/guides/tips-secure-mobile.jpg" alt="{{ _('6 Tips to Secure Mobile Device') }}">

        <h2>{{ _('FAQs about mobile security') }}</h2>
        <p>{{ _('Have more questions about mobile security? We have answers.') }}</p>

        <h3>{{ _('What is the best security you can put on a mobile device?') }}</h3>
        <p>{{ _('The best mobile security depends on a variety of factors, including:') }}</p>
        <ul>
            <li>{{ _('Device type') }}</li>
            <li>{{ _('How frequently you use your device') }}</li>
            <li>{{ _('What you use your device for') }}</li>
        </ul>
        <p>{{ _('Regardless of these factors, it’s a good idea to take advantage of the security features in your devices. That means screen lock passcodes, biometrics, and remote wiping if you lose your device. Installing cybersecurity software will give you an extra level of protection from threats.') }}</p>

        <h3>{{ _('How can I make my phone more secure?') }}</h3>
        <p>{{ _('To make your phone more secure, you should use security software, use a VPN when you browse the internet with public Wi-Fi, keep your operating system and applications updated, and avoid clicking on links and downloading files from people you don’t know.') }}</p>

        <h3>{{ _('What\'s the most secure way to lock your smartphone?') }}</h3>
        <p>{{ _('The most secure way to lock your smartphone or tablet is to set a passcode and use any biometric security features (like a fingerprint scan or facial recognition) available on your device. It’s also vital that you choose a unique passcode and that you don’t share your passcode with anyone.') }}</p>

        <h3>{{ _('Do I really need a password lock on my phone?') }}</h3>
        <p>{{ _('If you care about the security of your phone and the personal information on it, yes. Not only will it stop people around you from accessing your device without your permission, but it may also prevent your information from falling into the hands of a thief if your phone is stolen.') }}</p>

        
    </main>
{% endblock %}
