{% extends "base.html" %}

{% block title %}
    GUIDE on creating strong passwords and keeping them safe 
{% endblock %}

{% block content %}
    <main>
        <h1>Secure Passwords</h1>  
        </br>      
        <!-- Add more content here -->
        <h2>Password mistakes to avoid: </h2>
        <p>Make your passwords more secure by avoiding the following:</p>
        <ul>
        <li>Numerical patterns like “1234”</li>
        <li>Common words like “password” or “guest”</li>
        <li>Repeated characters like “1111”</li>
        <li>Keyboard patterns like “qazwsx” or “asdf”</li>
        <li>First and last names</li>
        <li>Pet and family member names</li>
        <li>Nicknames</li>
        <li>Important dates</li>
        <li>Cities you’ve lived in</li>
        <li>Schools you’ve attended</li>
        <li>Reversed words like “drowssap”</li>
        <li>Character substitutions like using “@” in place of “a”</li>
        </ul>

        <h2>5 tips to create secure passwords</h2>
        <p>When it comes to online security, creating long, strong, and unique passwords is your first line of defense. Here are five key tips to create strong passwords, fortify your accounts, and keep your personal information safer online:</p>

        <h3>1. Randomize your passwords</h3>
        <p>Random passwords are the ultimate shield against hackers. Since they lack patterns and personal information, it’s nearly impossible for hackers to guess them using dictionary attacks, numerical patterns like “123,” or birthday predictions. You should also avoid falling into the trap of using guessable words that are significant to your life, like nicknames, surnames, pets, cities, and schools you attended.</p>
        <!-- insert image of randomnizing password-->
        <img src="/static/images/content/guides/randomnize-password.jpg" alt="Randomnize your password">

        <h3>2. Make passwords long</h3>
        <p>Longer passwords are more secure because every additional character increases the number of possible combinations. That means that it’s harder for hackers to guess your password. It also makes the password-cracking process more time-intensive, which could deter brute force attacks. To maximize account security, make your passwords at least 15 characters long.</p>
        <!-- insert image of making passwords long -->
        <img src="/static/images/content/guides/long-passwords.jpg" alt="Make passwords long">

        <h3>3. Avoid password recycling</h3>
        <p>Recycling the same password across accounts makes your passwords less secure. If an attacker compromises one password, all your accounts with the same password are at risk. To boost your password security, create a strong and unique password for every account. You can use a secure password generator to create them and a password manager to store them.</p>
        <!-- insert image of password recycling -->
        <img src="/static/images/content/guides/password-recycling.jpg" alt="Avoid password recycling">

        <h3>4. Use symbols, cases, and spellings</h3>
        <p>Even if you develop a completely original password, it could still be easy to guess if you spell a word correctly, use predictable cases, and don’t use numbers or symbols. Up the ante by incorporating a mix of uppercase (A – Z) and lowercase letters (a – z), numbers (0 - 9), and symbols (#, $, %). Also, don’t substitute letters with symbols or numbers (like &quot;p@ssw0rd&quot;) unless you’re creating a passphrase—most cybercriminals are well aware of this password trick.</p>
        <!-- insert image of using symbols, cases and spellings-->
        <img src="/static/images/content/guides/unique-passwords.jpg" alt="Use symbols, cases, and spellings">

        <h3>5. Opt for long passphrases</h3>
        <p>Passphrases are strings of words that can help protect your accounts in the event of password attacks. They should use a complex and lengthy mix of characters, 5 to 7 words, and symbols. As a bonus, they are easier to remember since you can base them on movie quotes, rhymes, songs, etc., making them especially useful for securing your home computer lock screen.</p>
        <p>Just don’t use personal information or choose a passphrase directly linked to something you’ve shared publicly. For example, if you’re a loud and proud Swiftie, don’t use one of Taylor Swift’s songs to inspire your passphrase.</p>
        <!-- insert image of passphrases vs secure passwords -->
        <img src="/static/images/content/guides/long-passphrases.jpg" alt="Opt for long passphrases">

        <p>If you’re not sure whether your passphrases are strong enough, consider using a random password generator to come up with hard-to-crack ideas.</p>

        <h2>How to remember strong passwords</h2>
        <p>While strong passwords are vital, remembering them can be tough, especially when you’re supposed to have a long, strong, and unique iteration for each account. Consider using a password manager like Norton Password Manager or mnemonics to stay on top of your passwords.</p>

        <h3>Password managers</h3>
        <p>A password manager is a secure digital vault that stores all your passwords. You just need to remember one master password to access it. Then, you can securely and conveniently auto-fill your credentials when you visit a website’s login page.</p>
        
        <h3>Mnemonic devices</h3>
        <p>A mnemonic device is a memory trick that helps you recall information by associating it with something more memorable, such as a phrase or rhyme. You can use these to remember secure and complex passwords—just come up with a memorable phrase or acronym.</p>
        <p>For example, you know you shouldn’t use your name in a password. But you can use your name as a mnemonic device for a passphrase. So, instead of making your password “AdamC” (your first name and surname initial), you could use the mnemonic device, “<b>A</b>stronaut<b>D</b>rives<b>A</b>rmor<b>M</b>iracle<b>C</b>orduroy,” to remember each word of your passphrase. Of course, you also need to mix up the cases and add numbers and symbols.</p>

        <h2>How to keep your passwords safe</h2>
        <p>Password security requires a comprehensive approach. To keep your passwords safe:</p>
            <ul>
            <li>Create long, complex passwords</li>
            <li>Use unique passwords for every account</li>
            <li>Use a reputable password manager</li>
            <li>Enable two-factor authentication (2FA)</li>
            <li>Change your passwords regularly</li>
            <li>Subscribe to data breach alerts</li>
            <li>Avoid clicking suspicious links</li>
            <li>Don’t share your passwords with anyone</li>
            <li>Use a reputable security app</li>
            </ul>

        <h2>FAQs about password security</h2>
        <p>Still have questions about password security? Here’s what you need to know.</p>

        <h3>How long should my password be?</h3>
        <p>A strong password should be at least 15 characters long, with a combination of different character sets like letters, numbers, and symbols.</p>

        <h3>How do I know if my password is no longer secure?</h3>
        <p>If your password is short, simple, has been shared with others, used on multiple accounts, or has been compromised in a data breach, it is not secure. On top of creating long, strong, unique passwords, you should also change them regularly if you want strong password security.</p>

    </main>
{% endblock %}
