{% extends "base.html" %}

{% block title %}
    {{ _('GUIDE on How to Identify Phishing Links and What to Do After Clicking Them') }}
{% endblock %}

{% block content %}
    <main>
        <h1>{{ _('Recognizing and Preventing Phishing Attacks') }}</h1>  
        </br>      
        <!-- Add more content here -->
        <h2>{{ _('What to do if you clicked on a phishing link') }}</h2>
        <p>{{ _('If a phishing scam lures you into clicking a malicious link, it’s important to act quickly to minimize the fallout. First, cease all interactions—stop communicating with the attacker, end any active downloads, and close out of the spoofed website if the URL took you to one. Then, secure your device and begin the process of monitoring your credit and other accounts for signs of fraud.') }}</p>
        <!-- insert image -->
        <img src="/static/images/content/{{ g.lang }}/guides/what-to-do-clicked-phishing-link.jpg" alt="{{ _('What to do if you clicked on a phishing link') }}">

        <h3>{{ _('Stop interacting') }}</h3>
        <p>{{ _('If you realize you fell into a phishing trap, immediately stop what you’re doing. Depending on the situation, this could mean closing the spoofed website window or halting an in-progress download. Ending the interaction after clicking a phishing link can help protect your data by preventing sensitive information from being transmitted to the attacker.') }}</p>

        <h3>{{ _('Disconnect your internet') }}</h3>
        <p>{{ _('Disconnecting your internet connection after clicking a phishing link is another way to stop ongoing data transfers. This is a good option for stopping background processes and preventing malware from spreading to other devices on your network.') }}</p>

        <h3>{{ _('Change your passwords') }}</h3>
        <p>{{ _('Prevent ongoing unauthorized access to your accounts by changing any account login credentials that may have been compromised when you clicked a phishing link. To help block hackers, craft long and unique passwords, mixing uppercase and lowercase letters, numbers, and symbols for maximum security.') }}</p>

        <h3>{{ _('Enable two-factor authentication (2FA)') }}</h3>
        <p>{{ _('If you recently clicked a phishing link, consider adding a further layer of protection to your accounts with two-factor authentication. This helps keep your accounts safer even if a hacker gets their hands on your password, because 2FA requires users to enter a secondary verification code sent directly to an alternative device.') }}</p>

        <h3>{{ _('Alert the credit bureaus') }}</h3>
        <p>{{ _('Visit the home pages of the three national credit bureaus—Experian<sup>®</sup>, Equifax<sup>®</sup>, and TransUnion<sup>®</sup>—to alert them of the phishing attack and freeze your credit. Freezing your credit helps ensure criminals can\'t open new credit accounts or take out new loans in your name.') }}</p>

        <h3>{{ _('Contact your credit card providers and review your statements') }}</h3>
        <p>{{ _('If you shared your credit card information with a phisher, contact your credit card issuer. They can help you freeze your credit card to stop unauthorized purchases and help you comb through your statements to identify fraudulent transactions. They may even be able to reimburse you for purchases the phisher made using your card.') }}</p>

        <h3>{{ _('Check your credit report') }}</h3>
        <p>{{ _('Check your credit report regularly for signs of identity theft and financial fraud in the months after clicking a phishing link. This is where you’ll see if someone applies for loans or takes out lines of credit in your name.') }}</p>

        <h3>{{ _('Report the phishing attack') }}</h3>
        <p>{{ _('Mark as spam or junk any phishing messages or calls you see. Then, report the phishing attempt to help counter-cybercrime groups track threats and limit future phishing attacks.') }}</p>
        <p>{{ _('Here’s how to report phishing messages:') }}</p>
        <ul>
            <li><b>{{ _('Report phishing text messages') }}</b> {{ _('by forwarding them to SPAM (7726).') }}</li>
            <li><b>{{ _('Report phishing emails') }}</b> {{ _('by forwarding the phishing email to reportphishing@apwg.org.') }}</li>
        </ul>

        <h3>{{ _('Scan your device for malware') }}</h3>
        <p>{{ _('Use antivirus software to help identify and block online attacks and help prevent phishers from continuing to spy on you or stealing your personal information.') }}</p>

        <h2>{{ _('How can I spot a phishing attack before clicking a link?') }}</h2>
        <p>{{ _('These days, phishers are much more adept at baiting their targets and luring them in. Still, there are several ways you can spot a phishing attack before it becomes a problem, including:') }}</p>
        <ul>
            <li><b>{{ _('Unbelievable deals:') }}</b> {{ _('Be wary of emails offering wildly cheap products or services. If it seems too good to be true, it probably is.') }}</li>
            <li><b>{{ _('Requests for personal information:') }}</b> {{ _('Legitimate institutions like banks will never ask for account details via email—never share such information this way.') }}</li>
            <li><b>{{ _('Spelling and grammatical mistakes:') }}</b> {{ _('Emails littered with typos and awkward phrasing are common in phishing emails and text messages.') }}</li>
            <li><b>{{ _('Generic greetings:') }}</b> {{ _('Many times, phishers don’t bother to personalize emails because they just want to cast a wide net and catch as many people as they can. So you might receive an email with a generic greeting like, “Hello, Sir” or “Dear Account Holder.”') }}</li>
            <li><b>{{ _('Urgent language:') }}</b> {{ _('Phishers create urgency to rush you into clicking links. Don\'t be pressured; take your time when reading and responding to emails.') }}</li>
            <li><b>{{ _('Unfamiliar senders:') }}</b> {{ _('Delete emails from unknown senders without clicking anything. This is especially important if you can’t verify their identity.') }}</li>
            <li><b>{{ _('Familiar senders:') }}</b> {{ _('Even seemingly familiar email addresses can be fake. If the tone, communication channel, or content feels off, try to reach out to the person using another form of communication to confirm their identity.') }}</li>
            <li><b>{{ _('Suspicious links and attachments:') }}</b> {{ _('Before clicking a link or downloading an attachment, hover over the link and inspect the URL for inconsistencies.') }}</li>
            <li><b>{{ _('Use a scam detection tool to analyze messages:') }}</b> {{ _('If a message looks suspicious, use an anti-scam tool to help determine if the message is legitimate.') }}</li>
        </ul>

        <h2>{{ _('How do I know if I clicked a phishing link?') }}</h2>
        <p>{{ _('You may not immediately realize that you clicked a phishing link because it can take some time for red flags to appear.') }}</p>
        <!-- insert image -->
        <img src="/static/images/content/{{ g.lang }}/guides/how-to-know-phishing.jpg" alt="{{ _('How to know if clicked on phishing link') }}">

        <p>{{ _('You’ll know you’ve likely been phished if you start noticing warning signs like:') }}</p>
        <ul>
            <li><b>{{ _('Suspicious redirects') }}</b> {{ _('that take you to crudely made websites with misspellings and odd characters in the URL.') }}</li>
            <li><b>{{ _('Invasive personal information requests') }}</b> {{ _('like a form prompting you to enter sensitive details like your Social Security number or account information.') }}</li>
            <li><b>{{ _('Too-good-to-be-true messages and offers') }}</b> {{ _('like free vacations or job offers with sky-high salaries to try to entice you to engage with the phisher.') }}</li>
            <li><b>{{ _('High-pressure language') }}</b> {{ _('in messages or website copy that creates a sense of urgency to encourage you to click a link without thinking.') }}</li>
        </ul>

        <h2>{{ _('FAQs about phishing') }}</h2>
        <p>{{ _('If your questions don’t just stop at “What is phishing?” we’ve got you covered. Read through this FAQ section to learn more about phishing scams.') }}</p>

        <h3>{{ _('Who are the targets of phishing attacks?') }}</h3>
        <p>{{ _('Anyone can be targeted in a phishing attack. To increase their chance of success, phishers will often target as many email addresses or phone numbers as possible.') }}</p>

        <h3>{{ _('Can AI be used for phishing attacks?') }}</h3>
        <p>{{ _('Yes, scammers can use AI to make their communications sound more believable. For example, phishers may use it to generate realistic conversations free of spelling and grammatical errors so their phishing messages seem more legitimate.') }}</p>

        <h3>{{ _('Can you get scammed by opening a text message?') }}</h3>
        <p>{{ _('No, opening a scam text message itself isn\'t risky. However, clicking links within those text messages or replying can expose you to malware or trick you into revealing personal information.') }}</p>

        <h3>{{ _('What do you do when you click a suspicious link on your phone?') }}</h3>
        <p>{{ _('If you click a suspicious link on your phone, close the website, stop any active downloads, and disconnect your internet connection. Then, use security software to scan your phone for malware. Finally, change the passwords for any accounts that may have been impacted.') }}</p>

    </main>
{% endblock %}
