{% extends "base.html" %}

{% block title %}
    LEARN about mobile security 
{% endblock %}

{% block content %}
    <main>
        <h1>Mobile Security</h1>  
        </br>      
        <!-- Add more content here -->
        <h3>What is mobile security?</h3>
        <p>Mobile security is a system of security software and habits that keeps your data out of the hands of 
            hackers, scammers, and identity thieves. </p>
        
        <h3>Why is mobile security essential?</h3>
        <p><b>While device manufacturers help you protect your Android and Apple devices and operating systems, it often isn’t enough to fully safeguard your data from attacks by hackers.</b></p>
        
        <p>Cybercriminals don’t discriminate when they create malware to infect the latest computers, phones, and tablets. If they can design a virus that will make its way into the servers of large banks to steal account numbers and passwords, those scammers will also find a way to deploy it against normal people (or they’ll sell it to someone who will).</p>

        <p>Mobile security attacks can:</p>
            <ul>
            <li>Expose your financial information.</li>
            <li>Increase the likelihood of identity theft.</li>
            <li>Corrupt your files and personal data.</li>
            </ul>
        
        <!-- insert image of what mobile security protects-->

        <p><b>Real security means taking extra steps to improve your digital safety habits and using software that recognizes and stops threats before your devices are compromised. </b></p>
        
        <h3>The main threats to mobile security</h3>
        <!-- insert image of common mobile security threats -->

        <p>These threats present themselves in many different formats, and the people behind them always try to improve their effectiveness. Knowing these dangers, how they impact your mobile data security, and what damage they can do can help you react when these problems arise.</p>


    </main>
{% endblock %}
