{% extends "base.html" %}

{% block title %}
    {{ _('LEARN about password security') }}
{% endblock %}

{% block content %}
    <main>
        <h1>{{ _('Strong Passwords') }}</h1>  
        </br>      

        <h2>{{ _('Why is password security important?') }}</h2>
        <p>{{ _('If passwords aren’t strong and kept secure, cybercriminals could gain access to your accounts. That can lead to scams, financial repercussions, or even identity theft. And then there’s the added stress of recovering hacked accounts or a stolen identity.') }}</p>
        <ul>
            <li><b>{{ _('Scams:') }}</b> {{ _('If a cybercriminal can access your social media accounts or email with your password, they could scam your contacts or use your own information against you in a social engineering attack.') }}</li>
            <li><b>{{ _('Financial loss:') }}</b> {{ _('Whether it’s your bank account drained, blackmail, or transferring money from your payment app, the end goal for password thieves is typically financial.') }}</li>
            <li><b>{{ _('Identity theft:') }}</b> {{ _('If an identity thief has enough information about you, a password could be the final piece of the puzzle they need to achieve their objective. That could be anything from taking out a loan in your name to ordering a new credit card and intercepting it.') }}</li>
        </ul>
    
        <p>{{ _('Creating a strong password can reduce the risk of cybercriminals guessing it and accessing your sensitive data. Keeper’s 2024 Future of Defense Report found that stolen or weak passwords remain a leading cause of breaches, solidifying the importance of creating and securely storing passwords for each of your online accounts.') }}</p>
        <p>{{ _('When you use weak, short passwords to secure your online accounts it makes it a lot easier and faster for a cybercriminal to crack it. On the other hand, if you use a strong password that is 20 characters long and contains a mix of uppercase and lowercase letters, numbers and symbols, it would take a cybercriminal three sextillion years to crack it.') }}</p>
        <img src="/static/images/content/learn/time-to-crack-password.png" alt="{{ _('Time taken to crack password') }}">

        <h2>{{ _('How are passwords stolen?') }}</h2>
        <p>{{ _('Cybercriminals steal passwords through a variety of methods using scams or hacking techniques.') }}</p>
        <ul>
            <li><b>{{ _('Data breaches:') }}</b> {{ _('If your password is exposed in a data breach, hackers can use it to access the associated account.') }}</li>
            <li><b>{{ _('Password-guessing attacks:') }}</b> {{ _('Dictionary attacks involve hackers trying common words and phrases at scale to guess passwords.') }}</li>
            <li><b>{{ _('Malware:') }}</b> {{ _('Some types of malware can steal your passwords or record your keystrokes as you type.') }}</li>
            <li><b>{{ _('Phishing:') }}</b> {{ _('A phishing attack can be designed to trick you into revealing your password. An attack via email or text could also urge you to click a link that takes you to an unsafe website where you enter your password and unknowingly expose it.') }}</li>
            <li><b>{{ _('Social engineering:') }}</b> {{ _('Phishing is a common type of social engineering attack but there are other examples, like a scareware attack that could lead to a hacker stealing your password.') }}</li>
        </ul>

    </main>
{% endblock %}
