{% extends "base.html" %}

{% block title %}
    LEARN about password security 
{% endblock %}

{% block content %}
    <main>
        <h1>Strong Passwords</h1>  
        </br>      
        <!-- Add more content here -->
        <h2>Why is password security important?</h2>
        <p>If passwords aren’t strong and kept secure, cybercriminals could gain access to your accounts. That can lead to scams, financial repercussions, or even identity theft. And then there’s the added stress of recovering hacked accounts or a stolen identity.</p>
        <ul>
        <li><b>Scams:</b> If a cybercriminal can access your social media accounts or email with your password, they could scam your contacts or use your own information against you in a social engineering attack.</li>
        <li><b>Financial loss:</b> Whether it’s your bank account drained, blackmail, or transferring money from your payment app, the end goal for password thieves is typically financial.</li>
        <li><b>Identity theft:</b> If an identity thief has enough information about you, a password could be the final piece of the puzzle they need to achieve their objective. That could be anything from taking out a loan in your name to ordering a new credit card and intercepting it.</li>
        </ul>
    
        <h2>How are passwords stolen?</h2>
        <p>Cybercriminals steal passwords through a variety of methods using scams or hacking techniques.</p>
        <ul>
        <li><b>Data breaches:</b> If your password is exposed in a data breach, hackers can use it to access the associated account.</li>
        <li><b>Password-guessing attacks:</b> Dictionary attacks involve hackers trying common words and phrases at scale to guess passwords.</li>
        <li><b>Malware:</b> Some types of malware can steal your passwords or record your keystrokes as you type.</li>
        <li><b>Phishing:</b> A phishing attack can be designed to trick you into revealing your password. An attack via email or text could also urge you to click a link that takes you to an unsafe website where you enter your password and unknowingly expose it.</li>
        <li><b>Social engineering:</b> Phishing is a common type of social engineering attack but there are other examples, like a scareware attack that could lead to a hacker stealing your password.</li>
        </ul>

    </main>
{% endblock %}
