{% extends "base.html" %}

{% block title %}
    {{ _('LEARN about Phishing') }}
{% endblock %}

{% block content %}
    <main>
        <h1>{{ _('Phishing') }}</h1>  
        </br>      
        <!-- Add more content here -->
        <h2>{{ _('What is phishing?') }}</h2>
        <p>{{ _('Phishing is a social engineering cyberthreat where scammers impersonate a trustworthy source and trick you into revealing sensitive data like passwords, credit card numbers, or personally identifiable information.') }}</p>
        <p>{{ _('Phishing attacks often begin with scammers sending a malicious link or attachment via email, social media, or text—possibly triggering a malware download. Alternatively, you may receive a phishing call that comes from a phisher pretending to offer customer service or tech support.') }}</p>
        <!-- insert image-->
        <img src="/static/images/content/learn/what-is-phishing.jpg" alt="{{ _('What is Phishing') }}">

        <h3>{{ _('How does phishing work') }}</h3>
        <p>{{ _('While phishing can vary based on the specific type of scam the scammer is carrying out, phishing attacks often follow these steps:') }}</p>
        <ol>
            <li>{{ _('The phisher selects a target (this can be an organization, group, or individual) and comes up with a ruse.') }}</li>
            <li>{{ _('Next, the phisher chooses a communication method and makes contact.') }}</li>
            <li>{{ _('If effective, the target will engage by replying, opening the phishing link, or downloading a malicious attachment.') }}</li>
            <li>{{ _('Finally, phishers will collect data and use it to make illegal purchases or commit fraudulent acts such as identity theft.') }}</li>
        </ol>

        <h3>{{ _('What is a phishing link?') }}</h3>
        <p>{{ _('A phishing link is a fake link used by cybercriminals to trick you into compromising your own privacy and security. Clicking a phishing link may install malware on your device, or guide you to a spoofed website where you’re prompted to enter sensitive information.') }}</p>
        <!-- insert image -->
        <img src="/static/images/content/learn/phishing-link.jpg" alt="{{ _('What is a Phishing Link') }}">

        <h2>{{ _('Types of phishing attacks') }}</h2>
        <p>{{ _('Phishing scams can take many forms—the type of individual attack ultimately depends on the phisher, who they target, the communication platform they use, and their end goal.') }}</p>
        <p>{{ _('Here’s a rundown of a few predominantly link-based phishing attacks.') }}</p>

        <h3>{{ _('Email phishing') }}</h3>
        <p>{{ _('The basic phishing email is sent by fraudsters impersonating legitimate companies, often banks or credit card providers. These email phishing examples trick you into providing sensitive information by getting you to download malware unknowingly or by directing you to an unsafe website where you’re asked to voluntarily enter private information.') }}</p>

        <h3>{{ _('Spear phishing') }}</h3>
        <p>{{ _('Spear phishing emails target a specific individual, business, or organization rather than just casting a wide net. Typically, spear phishers invest a lot of time and effort into researching their targets and building a credible persona. For example, the attacker may assume the identity of your boss and trick you into revealing proprietary information in what you believe to be an internal conversation.') }}</p>

        <h3>{{ _('Clone phishing') }}</h3>
        <p>{{ _('In clone phishing attacks, scammers create a nearly identical version of an email that victims have already received. The cloned email is sent from an address that is nearly, but not quite, the same as the email address used by the message’s original sender. The body of the email looks the same, too.') }}</p>
        <p>{{ _('What’s different about a clone phishing attack is that the attachment or link in the message has been changed. If victims click those links now, it will take them to a malicious website or open an infected attachment.') }}</p>

        <h3>{{ _('Whaling') }}</h3>
        <p>{{ _('Whaling attacks target chief executive officers, chief operating officers, or other high-ranking executives. The goal of a whaling attack is to trick powerful people into giving up sensitive corporate data. These attacks are more sophisticated than general phishing attacks and require plenty of research from scammers. They usually rely on fraudulent emails that appear to be from trusted sources within the company or from legitimate outside agencies.') }}</p>

        <h3>{{ _('Pop-up phishing') }}</h3>
        <p>{{ _('Pop-up ad phishing scams trick people into installing various types of malware on their devices by leveraging scare tactics. A common pop-up phishing example is when a fake virus alert pops up on a user’s screen warning the user that their computer has been infected and the only way to remove the virus is by installing a particular type of antivirus software. Once the user installs this fake software, it either doesn’t work or, worse, actually does infect the computer with malware.') }}</p>

        <h2>{{ _('What techniques do phishers use to manipulate their targets?') }}</h2>
        <p>{{ _('To help increase their chances of getting the information they want, scammers may employ a combination of different phishing techniques, including:') }}</p>
        <ul>
            <li><b>{{ _('Social engineering:') }}</b> {{ _('This is the act of tricking someone into divulging sensitive information using manipulative persuasion tactics. For example, a scammer may pretend to be a family member in a dangerous situation to try to get you to quickly send them money.') }}</li>
            <li><b>{{ _('Hyperlink manipulation:') }}</b> {{ _('Phishers may use the text of a legitimate URL to disguise a link to a phishing website. For example, you may think you’re navigating to your bank’s official support page, but after hovering over the link, you discover it is actually going somewhere else.') }}</li>
            <li><b>{{ _('Graphical rendering:') }}</b> {{ _('This happens when a phisher uploads their email as an image rather than text to prevent certain text from being scanned by phishing filters.') }}</li>
            <li><b>{{ _('Site redirects:') }}</b> {{ _('Phishers may also use a malicious webpage as a middle ground between their phishing email and a legitimate site. For example, following their instructions may take you to a webpage created by a phisher to collect your personal information before redirecting you to a legitimate website to minimize your suspicion of a phishing attack.') }}</li>
            <li><b>{{ _('Link shortening:') }}</b> {{ _('Another popular phishing tactic is using link shortening tools to disguise links to dangerous websites.') }}</li>
            <li><b>{{ _('Typosquatting:') }}</b> {{ _('By using typosquatting, a phisher registers domains that are very close to a legitimate domain, hoping their targets won’t notice. For example, a phisher pretending to be an Amazon support representative might create a phishing site under the URL “Amazpn.com.”') }}</li>
            <li><b>{{ _('AI voice generators:') }}</b> {{ _('Phishers may use AI voice generators to impersonate public figures or acquaintances of yours to get you to divulge sensitive information.') }}</li>
            <li><b>{{ _('Chatbots:') }}</b> {{ _('Scammers may also use AI-enabled chatbots to create highly personalized phishing messages free of the kind of spelling and grammatical errors often associated with phishing attacks.') }}</li>
        </ul>

    </main>
{% endblock %}
