{% extends "base.html" %}

{% block title %}
    LEARN about Software Updates 
{% endblock %}

{% block content %}
    <main>
        <h1>Software Updates</h1>  
        </br>      
        <!-- Add more content here -->

        <h2><b>What is a software update?</b><br /></h2>
        <p>A software update is a new version of an application, game, or other program on a computer or mobile device. New versions of software usually include patches to fix security vulnerabilities, performance upgrades, and cosmetic changes. </p>

        <h2>The importance of software updates</h2>
        <p>Keeping your software and operating system up to date is an important step towards ensuring your information is safe, your device is secured and working properly, and your programs and system remain compatible with each other.</p>
        <p>Here’s a closer look at the benefits of software updates and why you should always keep them fully updated.</p>

        <h3>Software updates reduce security flaws</h3>
        <p>Old software is full of security flaws. Over time, hackers find new ways to break through what was, at one time, the best available protection. Once these cybercriminals break into a system, they can spy on your computer, implant dangerous malware, or even use what they find in your system to commit identity theft.</p>
        <p>Software updates are there to patch zero-day exploits and update older, less effective protocols to the newer, tougher-to-crack standards. This makes updating all your software one of the most critical ways to improve your computer and mobile security.</p>

        <h3>Software updates help protect your data</h3>
        <p>Your data is at risk of being stolen, sold, and used against you by criminals. But the risk of being hit by a data breach is much higher if you’re using outdated software, as is the risk of accidentally destroying or corrupting your files.</p>
        <p>Updating your software to the latest versions can close off any vulnerabilities that let hackers in. Updates can also correct problems that could corrupt your files while making sure they’re compatible with the newest versions of the programs you use. </p>

        <h3>Software updates improve performance</h3>
        <p>If you want to make your computer faster, one of the easiest ways is to update your software. Older software versions operate using legacy code and protocols, but engineers are constantly making tweaks to improve performance and reduce resource usage. With more RAM available, your devices can do more—and do it quicker.</p>
        <p>Reliably high performance is vital for running multiple programs simultaneously, watching high-definition videos, playing the newest games, taking the best pictures and videos, and even browsing the internet. </p>

        <h3>Software updates help protect others</h3>
        <p>The internet is a giant, interconnected network of devices. Because of the links between systems all over the globe, keeping your devices updated and free of malware and viruses that spread through networks is like covering your mouth when you cough in public.</p>
        <p>Doing your part can reduce the headaches and economic impacts of cybercrime and malicious software in your neighborhood as well as the farthest corners of the planet. And don’t think you’re less susceptible when using a Mac - Macs can get viruses, too.</p>

        <h2><b>What is an operating system update?</b></h2>
        <p>An operating system update is a new version of an operating system that, along with drivers and other first-party software, tells your computer or mobile device how to run. New versions of operating systems commonly include software patches that fix security flaws, code that improves overall system performance, and changes to how the operating system looks and functions.</p>


    </main>
{% endblock %}
